PORT=7071
BOT_TOKEN=your_bot_token
REQUIRE_AUTH=true
MAGNETS=on
COLLECTIBLE_COUNT=0
MAX_MSG_PER_SEC=120
MAX_CONN_PER_IP=8
CONN_WINDOW_MS=10000
MAX_PAYLOAD=4096
SCORE_TO_WIN=0
ROOM_TIMEOUT_MS=0
FINISHED_RESET_MS=5000
METRICS_INTERVAL_MS=60000
ALLOW_DEBUG=false
